rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /dice/{diceID} {
    	allow read;
      allow write: if request.resource.data.letter is string &&
      request.resource.data.letter.size() == 1;
    }
    
    match /game/{gameID} {
    	allow read;
      allow write: if request.resource.data.started is bool;
    }
    
    match /timer/{timerID} {
    	allow read;
      allow write: if request.resource.data.endTime is number;
    }
    
    match /wordindex/{wordindexID} {
    	allow read;
      allow write: if (request.resource.data.number is number &&
      request.resource.data.number >= 1 &&
      request.resource.data.number <= 8) ||
      (request.resource.data.language is string &&
      (request.resource.data.language == "EN" || 
      request.resource.data.language == "KR"));
    }
    
    match /wordlist/{wordlistID} {
    	allow read;
      allow write: if false;
    }
    
    match /players/{playerID} {
    	allow read, write;
    }
    
  }
}