



/*  MM      MM    MMMM    MMMMMM    MMMMMM    MMMM    MMMMMM    MM      MMMMMMMM    MMMM     */
/*  MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*  MM      MM  MMMMMMMM  MMMMMM      MM    MMMMMMMM  MMMMMM    MM      MMMMMMMM    MM       */
/*  MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM            MM     */
/*    MM  MM    MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*      MM      MM    MM  MM    MM  MMMMMM  MM    MM  MMMMMM    MMMMMM  MMMMMMMM    MMMM     */

:root {
    --redish : #F35;
    --greenish : #4FA; 
    --whiteShade : rgba(255,255,255,0.5);
    --blackShade : rgb(0, 0, 0, 0.5);
    --blackerShade : rgb(0, 0, 0, 0.7);
    --blueGradient : linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    --yellowGradient : linear-gradient(27deg, rgb(239, 190, 0), rgb(236, 221, 15));
    --redGradient : linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    --greenGradient : linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
    --grayGradient : linear-gradient( 110.3deg,  rgba(72,85,99,1) 8.8%, rgba(127,146,166,1) 95.1% );

    --fontEN :  'Boogaloo', cursive;
    --fontKR :  'Jua', sans-serif;
}










/*  MMMMMM    MM      MM          MMMM    MM        MMMM      MMMM      MMMM     */
/*  MM    MM    MM  MM          MM    MM  MM      MM    MM  MM    MM  MM    MM   */
/*  MMMMMM        MM            MM        MM      MMMMMMMM    MM        MM       */
/*  MM    MM      MM            MM        MM      MM    MM      MM        MM     */
/*  MM    MM      MM            MM    MM  MM      MM    MM  MM    MM  MM    MM   */
/*  MMMMMM        MM              MMMM    MMMMMM  MM    MM    MMMM      MMMM     */


.wall-block {
    /* Covers the whole screen. */
    /* Can disappear. */
    /* Invisible by default. */
    position : fixed;
    top : 0px;
    bottom : -50px;
    left : 0px;
    right : 0px;
    display: none;
}

.wall-flex {
    /* The invisible frame that centers a box perfectly. */
    position: fixed;
    top : 0px;
    bottom : 0px;
    left : 0px;
    right : 0px;
    display: flex;
    justify-content : center;
    align-items : center;
}

.box {
    /* cursor : pointer; */
    background : var(--yellowGradient);
    overflow-x : hidden;
    overflow-y : hidden;
    display : flex;
    flex-flow : column;
    justify-content: center;
    align-items: center;
}

.flash {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f35a;
    display: none;
}











/*  MMMMMM    MM      MM        MMMMMM    MMMM      MMMM     */
/*  MM    MM    MM  MM            MM    MM    MM  MM    MM   */
/*  MMMMMM        MM              MM    MMMMMMMM  MM         */
/*  MM    MM      MM              MM    MM    MM  MM  MMMM   */
/*  MM    MM      MM              MM    MM    MM  MM    MM   */
/*  MMMMMM        MM              MM    MM    MM    MMMM     */

body {
    user-select : none;
    box-sizing: border-box;
    font-family: var(--fontEN);
    /* background-image: var(--blueGradient); */
    /* don't put background color or image here. it gets weird. Trust me. */
}

input {
    color: #00aeff;
    border: none;
    font-family: var(--fontEN);
}

input::placeholder {
    color: black;
}

p {
    margin-bottom: 0px;
    margin-top: 0.8em;
}












/*  MM      MM    MMMM    MM      MM        MMMM     */
/*  MM      MM  MM    MM  MM      MM      MM    MM   */
/*  MM      MM  MMMMMMMM  MM      MM        MM       */
/*  MM  MM  MM  MM    MM  MM      MM          MM     */
/*  MM  MM  MM  MM    MM  MM      MM      MM    MM   */
/*    MM  MM    MM    MM  MMMMMM  MMMMMM    MMMM     */

#uberwall { 
    position : fixed;
    top : 0px;
    bottom : 0px;
    left : 0px;
    right : 0px;
    background-image : var(--blueGradient); 
}

#wall-1 { background-image : var(--blueGradient); }

#wall-2 { background-image : var(--redGradient); }

#wall-3 { background-image : var(--blueGradient); }

#wall-4 { background-image : var(--greenGradient); }

#wall-5 { background: #FFF9}








/*  MMMMMM  MM    MM  MMMMMM  MMMMMM      MMMM     */
/*    MM    MMMM  MM    MM    MM    MM  MM    MM   */
/*    MM    MM  MMMM    MM    MMMMMM    MM    MM   */
/*    MM    MM    MM    MM    MM    MM  MM    MM   */
/*    MM    MM    MM    MM    MM    MM  MM    MM   */
/*  MMMMMM  MM    MM    MM    MM    MM    MMMM     */


#help-1 {
    left: 137px;
    top: 61px;
}

#help-2 {
    left: 200px;
    top: 61px;
}

#help-3 {
    left: 137px;
    top: 100px;
}

#help-4 {
    left: 61px;
    top: 99px;
}

#help-5 {
    left: 200px;
    top: 200px;
}

div.gray-box-abs { position: absolute; }

div.gray-box-rel { position: relative; }

div.gray-box {
    background: white;
    border-radius: 10px;
    border: 4px solid orange;
    text-align: left;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    color: black;
}

div.gray-box:before {
    content: '';
    position: absolute;
    left: 30px;
    top: -40px;
    border: 20px solid;
    border-color: transparent transparent orange transparent;
}

div.gray-box:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -34px;
    border: 20px solid;
    border-color: transparent transparent white transparent;
}










/*    MMMM      MMMM    MM    MM  MMMMMM    MMMM    MMMMMM  MM    MM  MMMMMMMM  MMMMMM     */
/*  MM    MM  MM    MM  MMMM  MM    MM    MM    MM    MM    MMMM  MM  MM        MM    MM   */
/*  MM        MM    MM  MM  MMMM    MM    MMMMMMMM    MM    MM  MMMM  MMMMMMMM  MMMMMM     */
/*  MM        MM    MM  MM    MM    MM    MM    MM    MM    MM    MM  MM        MM    MM   */
/*  MM    MM  MM    MM  MM    MM    MM    MM    MM    MM    MM    MM  MM        MM    MM   */
/*    MMMM      MMMM    MM    MM    MM    MM    MM  MMMMMM  MM    MM  MMMMMMMM  MM    MM   */

#container {
    display : grid;
    grid-template-columns : auto auto;
    grid-template-rows : auto auto auto auto auto;
    align-items: start;
    align-content: start;
    width: auto;
    height: auto;
}








/*  MMMMMM  MMMMMM  MMMMMM  MM      MMMMMMMM   */
/*    MM      MM      MM    MM      MM         */
/*    MM      MM      MM    MM      MMMMMMMM   */
/*    MM      MM      MM    MM      MM         */
/*    MM      MM      MM    MM      MM         */
/*    MM    MMMMMM    MM    MMMMMM  MMMMMMMM   */

#title-box {
    position: relative;
    grid-row : 1/2;
    grid-column : 1/3;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

#title-box.admin {
    background-image: var(--greenGradient);
}

#title {
    cursor : pointer;
}

#title-levers {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#title-help {
    cursor : pointer;
}

#title-help.blink {
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0%   { background: var(--whiteShade); }
    50%  { background: var(--redish); }
    100% { background: var(--whiteShade); }
}

#title-config {
    cursor : pointer;
}

div.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color : var(--whiteShade);
    color: black;
    font-weight: bold;
}

















/*  MMMMMM    MMMMMM    MMMM    MMMMMMMM   */
/*  MM    MM    MM    MM    MM  MM         */
/*  MM    MM    MM    MM        MMMMMMMM   */
/*  MM    MM    MM    MM        MM         */
/*  MM    MM    MM    MM    MM  MM         */
/*  MMMMMM    MMMMMM    MMMM    MMMMMMMM   */

#dice-box {
    grid-row : 2/3;
    grid-column : 2/3;
    position: relative;
    z-index: 2;
}













/*  MMMMMM  MMMMMM  MM      MM  MMMMMMMM  MMMMMM     */
/*    MM      MM    MMMM  MMMM  MM        MM    MM   */
/*    MM      MM    MM  MM  MM  MMMMMMMM  MMMMMM     */
/*    MM      MM    MM      MM  MM        MM    MM   */
/*    MM      MM    MM      MM  MM        MM    MM   */
/*    MM    MMMMMM  MM      MM  MMMMMMMM  MM    MM   */

#timer-box {
    grid-row : 3/4;
    grid-column : 2/3;
    position: relative;
    z-index: 3;
}

#timer {
    cursor : pointer;
}








/*  MMMMMM    MMMMMMMM    MMMM    MM    MM  MM      MMMMMM    MMMM     */
/*  MM    MM  MM        MM    MM  MM    MM  MM        MM    MM    MM   */
/*  MMMMMM    MMMMMMMM    MM      MM    MM  MM        MM      MM       */
/*  MM    MM  MM            MM    MM    MM  MM        MM        MM     */
/*  MM    MM  MM        MM    MM  MM    MM  MM        MM    MM    MM   */
/*  MM    MM  MMMMMMMM    MMMM      MMMM    MMMMMM    MM      MMMM     */

#results-box {
    grid-row : 4/5;
    grid-column : 2/3;
    position: relative;
    z-index: 4;
}

#results {
    cursor : pointer;
}




/*  MM      MM    MMMM    MMMMMM    MMMMMM    MM      MMMMMM    MMMM    MMMMMM   */
/*  MM      MM  MM    MM  MM    MM  MM    MM  MM        MM    MM    MM    MM     */
/*  MM      MM  MM    MM  MMMMMM    MM    MM  MM        MM      MM        MM     */
/*  MM  MM  MM  MM    MM  MM    MM  MM    MM  MM        MM        MM      MM     */
/*  MM  MM  MM  MM    MM  MM    MM  MM    MM  MM        MM    MM    MM    MM     */
/*    MM  MM      MMMM    MM    MM  MMMMMM    MMMMMM  MMMMMM    MMMM      MM     */

#wordlist-box {
    grid-row : 2/6;
    grid-column : 1/2;
    display: flex;
    flex-flow: column;
    justify-content : flex-start;
    align-items : flex-start;
    z-index: 1;
}

#wordlist-header {
    cursor : pointer;
    width : 100%;
    text-align : center;
    text-decoration : underline;
}

#wordlist-frame {
    display: flex;
    flex-flow: column;
}

.ans {
    background: #fff6;
}








/*  MMMMMM      MMMM    MMMMMM    MMMM    MMMMMM      MMMM    MM      MM   */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MMMMMMMM    MM    MMMMMMMM  MMMMMM    MM    MM      MM       */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM  MM      MM   */
/*  MMMMMM    MM    MM    MM    MM    MM  MMMMMM      MMMM    MM      MM   */

#data-box {
    position: relative;
    width: 94%;
    height: 94%;
    border-radius: 4vh;
    display : flex;
    flex-flow : column;
    justify-content: center;
    align-items: center;
}

#data-row-scroll {
    cursor : pointer;
    position: absolute;
    width: 90%;
    height: 90%;
    border: 1px gray solid;
    background-image: var(--grayGradient);
    overflow-x: scroll;
    overflow-y: hidden;
}

#data-row-frame {
    display: flex;
    flex-flow: row;
    width: 100vh;
}

.column {
    background: var(--yellowGradient);
    height: 70vh;
    border-radius: 2.5vh;
    margin: 3vh 0vh 3vh 3vh;
    padding: 3vh;
    font-size: 3vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#category-data {
    white-space: nowrap;
    overflow-x: auto;
}

#category-header {
    text-decoration: underline;
    text-align: center;
}

.playerdata {
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}

.player-label {
    text-decoration: underline;
}











/*    MMMM      MMMM    MMMMMM    MMMMMM    MMMMMM      MMMM    MM      MM   */
/*  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM        MMMMMMMM  MMMMMM    MM    MM  MMMMMM    MM    MM      MM       */
/*  MM        MM    MM  MM    MM  MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM      MM   */
/*    MMMM    MM    MM  MM    MM  MMMMMM    MMMMMM      MMMM    MM      MM   */

#card-box {
    background: #0002;
    padding: 5vh;
    border-radius: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2vh;
}

.card {
    cursor : pointer;
    font-size: 2em;
    border-radius: 2vh;
    width: 24vw;
    height: 24vh;
    font-size: 6vw;
}











/*  MM    MM    MMMM    MM      MM  MMMMMMMM        MMMMMM      MMMM    MM      MM   */
/*  MMMM  MM  MM    MM  MMMM  MMMM  MM              MM    MM  MM    MM    MM  MM     */
/*  MM  MMMM  MMMMMMMM  MM  MM  MM  MMMMMMMM        MMMMMM    MM    MM      MM       */
/*  MM    MM  MM    MM  MM      MM  MM        aaaa  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MM    MM  MM      MM  MM              MM    MM  MM    MM  MM      MM   */
/*  MM    MM  MM    MM  MM      MM  MMMMMMMM        MMMMMM      MMMM    MM      MM   */

#name-box {
    background: transparent;
}

#name-label {
    font-size: 8vw;
}

#name-text {
    font-size: 8vw;
    width: 54vw;
}

#name-text::placeholder {
    color: #0002;
}












/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM        MM      MM  MM    MM   */
/*  MM    MM    MM          MM    MM              MM      MM  MM    MM   */
/*    MM        MM        MM      MMMMMMMM        MM      MM  MMMMMMMM   */
/*      MM      MM      MM        MM              MM      MM  MM    MM   */
/*  MM    MM    MM    MM          MM                MM  MM    MM    MM   */
/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM            MM      MM    MM   */

#container.vh {
    gap: 2vh;
    padding : 4vh;
    border-radius : 4vh;
    box-shadow : 1vh 1vh 4vh rgba(150,0,0,0.3);
}

#title-box.vh {
    padding : 1vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 4vh rgba(150,0,0,0.3);
}

#title.vh {
    font-size: 10vh;
}

#title-help.vh {
    font-size: 5vh;
    width : 7vh;
    height : 7vh;
    border-radius : 4vh;
}

#title-config.vh {
    font-size: 5vh;
    margin: 0vh 3vh 0vh 3vh;
    width : 7vh;
    height : 7vh;
    border-radius : 4vh;
}

#dice-box.vh {
    padding : 2vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
}

#dice.vh {
    font-size: 12vh;
}

#timer-box.vh {
    padding : 2vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
}

#timer.vh {
    font-size: 7vh;
}

#results-box.vh {
    padding : 2vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
}

#results.vh {
    font-size: 6vh;
}

#wordlist-box.vh {
    padding : 2vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
}

#wordlist-header.vh {
    margin-bottom : 1vh;
    font-size: 6vh;
}

.Qnum.vh {
    font-size: 6vh;
}

.ans.vh {
    font-size: 6vh;
    border-radius: 0.5vh;
    width: 62vh;
    margin: 0.5vh;
}











/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM        MM      MM  MM      MM   */
/*  MM    MM    MM          MM    MM              MM      MM  MM      MM   */
/*    MM        MM        MM      MMMMMMMM        MM      MM  MM      MM   */
/*      MM      MM      MM        MM              MM      MM  MM  MM  MM   */
/*  MM    MM    MM    MM          MM                MM  MM    MM  MM  MM   */
/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM            MM        MM  MM     */

#container.vw {
    gap: 2vw;
    padding : 3vw;
    border-radius : 4vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#title-box.vw {
    padding : 1vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#title.vw {
    font-size: 8vw;
}

#title-help.vw {
    font-size: 3.8vw;
    width : 5.5vw;
    height : 5.5vw;
    border-radius : 3vw;
}

#title-config.vw {
    font-size: 3.8vw;
    margin: 0vw 2vw 0vw 2vw;
    width : 5.5vw;
    height : 5.5vw;
    border-radius : 3vw;
}

#dice-box.vw {
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#dice.vw {
    font-size: 8vw;
}

#timer-box.vw {
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#timer.vw {
    font-size: 5vw;
}

#results-box.vw {
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#results.vw {
    font-size: 5vw;
}

#wordlist-box.vw {
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#wordlist-header.vw {
    margin-bottom : 1vw;
    font-size: 5vw;
}

.Qnum.vw {
    font-size: 5vw;
}

.ans.vw {
    font-size: 5vw;
    border-radius: 0.5vw;
    width: 52vw;
    margin: 0.5vw;
}






/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM        MM      MM  MMMMMM  MMMMMM     */
/*  MM    MM    MM          MM    MM              MMMM  MMMM    MM    MM    MM   */
/*    MM        MM        MM      MMMMMMMM        MM  MM  MM    MM    MM    MM   */
/*      MM      MM      MM        MM              MM      MM    MM    MM    MM   */
/*  MM    MM    MM    MM          MM              MM      MM    MM    MM    MM   */
/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM        MM      MM  MMMMMM  MMMMMM     */

#container.mid {
    gap: 1vw;
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#title-box.mid {
    padding : 0.5vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#title.mid {
    font-size: 5vw;
}

#title-help.mid {
    font-size: 2.5vw;
    width : 3.5vw;
    height : 3.5vw;
    border-radius : 2vw;
}

#title-config.mid {
    font-size: 2.5vw;
    margin: 0vw 1.5vw 0vw 1.5vw;
    width : 3.5vw;
    height : 3.5vw;
    border-radius : 2vw;
}

#dice-box.mid {
    padding : 1vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#dice.mid {
    font-size: 5vw;
}

#timer-box.mid {
    padding : 1vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#timer.mid {
    font-size: 2.5vw;
}

#results-box.mid {
    padding : 1vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}
#results.mid {
    font-size: 2.5vw;
}

#wordlist-box.mid {
    padding : 1vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#wordlist-header.mid {
    margin-bottom : 1vw;
    font-size: 3vw;
}

.Qnum.mid {
    font-size: 2.5vw;
}

.ans.mid {
    font-size: 2.5vw;
    border-radius: 1vw;
    width: 27vw;
    margin: 0.5vw;
}






