



/*  MM      MM    MMMM    MMMMMM    MMMMMM    MMMM    MMMMMM    MM      MMMMMMMM    MMMM     */
/*  MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*  MM      MM  MMMMMMMM  MMMMMM      MM    MMMMMMMM  MMMMMM    MM      MMMMMMMM    MM       */
/*  MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM            MM     */
/*    MM  MM    MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*      MM      MM    MM  MM    MM  MMMMMM  MM    MM  MMMMMM    MMMMMM  MMMMMMMM    MMMM     */

:root {
    --redish : #F35;
    --greenish : #4FA;
    --whiteShade : rgba(255,255,255,0.3);
    --blackShade : rgb(0, 0, 0, 0.5);
    --blackerShade : rgb(0, 0, 0, 0.7);
    --blueGradient : linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    --yellowGradient : linear-gradient(27deg, rgb(239, 190, 0), rgb(236, 221, 15));
    --redGradient : linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    --greenGradient : linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
    --grayGradient : linear-gradient( 110.3deg,  rgba(72,85,99,1) 8.8%, rgba(127,146,166,1) 95.1% );

    --fontEN :  'Boogaloo', cursive;
    --fontKR :  'Jua', sans-serif;
}











/*  MMMMMM    MM      MM        MMMMMM    MMMM      MMMM     */
/*  MM    MM    MM  MM            MM    MM    MM  MM    MM   */
/*  MMMMMM        MM              MM    MMMMMMMM  MM         */
/*  MM    MM      MM              MM    MM    MM  MM  MMMM   */
/*  MM    MM      MM              MM    MM    MM  MM    MM   */
/*  MMMMMM        MM              MM    MM    MM    MMMM     */

body {
    user-select : none;
    box-sizing: border-box;
    font-family: var(--fontEN);
    /* don't put background color or image here. it gets weird. */
}

input {
    color: #00aeff;
    border: none;
    font-family: var(--fontEN);
}

input::placeholder {
    color: black;
}










/*  MM      MM    MMMM    MM      MM       */
/*  MM      MM  MM    MM  MM      MM       */
/*  MM      MM  MMMMMMMM  MM      MM       */
/*  MM  MM  MM  MM    MM  MM      MM       */
/*  MM  MM  MM  MM    MM  MM      MM       */
/*    MM  MM    MM    MM  MMMMMM  MMMMMM   */

#wall-1 { background-image : var(--blueGradient); }

#wall-2 { background-image : var(--redGradient); }

#wall-3 { background-image : var(--grayGradient); }

#wall-4 { background-image : var(--greenGradient); }







/*    MMMM      MMMM    MM    MM  MMMMMM    MMMM    MMMMMM  MM    MM  MMMMMMMM  MMMMMM     */
/*  MM    MM  MM    MM  MMMM  MM    MM    MM    MM    MM    MMMM  MM  MM        MM    MM   */
/*  MM        MM    MM  MM  MMMM    MM    MMMMMMMM    MM    MM  MMMM  MMMMMMMM  MMMMMM     */
/*  MM        MM    MM  MM    MM    MM    MM    MM    MM    MM    MM  MM        MM    MM   */
/*  MM    MM  MM    MM  MM    MM    MM    MM    MM    MM    MM    MM  MM        MM    MM   */
/*    MMMM      MMMM    MM    MM    MM    MM    MM  MMMMMM  MM    MM  MMMMMMMM  MM    MM   */

#container {
    display : grid;
    grid-template-columns : auto auto;
    grid-template-rows : auto auto auto auto auto;
    align-items: start;
    align-content: start;
    width: auto;
    height: auto;
}








/*  MMMMMM  MMMMMM  MMMMMM  MM      MMMMMMMM   */
/*    MM      MM      MM    MM      MM         */
/*    MM      MM      MM    MM      MMMMMMMM   */
/*    MM      MM      MM    MM      MM         */
/*    MM      MM      MM    MM      MM         */
/*    MM    MMMMMM    MM    MMMMMM  MMMMMMMM   */

#title-box {
    position: relative;
    grid-row : 1/2;
    grid-column : 1/3;
}




#title-config {
    position : absolute;
    top : 0px;
    right : 0px;
    /* background-color : var(--whiteShade); */
    background: red;
    text-align : center;
    color : var(--blackShade);
}




/*  MMMMMM    MMMMMM    MMMM    MMMMMMMM   */
/*  MM    MM    MM    MM    MM  MM         */
/*  MM    MM    MM    MM        MMMMMMMM   */
/*  MM    MM    MM    MM        MM         */
/*  MM    MM    MM    MM    MM  MM         */
/*  MMMMMM    MMMMMM    MMMM    MMMMMMMM   */

#dice-box {
    grid-row : 2/3;
    grid-column : 2/3;
}













/*  MMMMMM  MMMMMM  MM      MM  MMMMMMMM  MMMMMM     */
/*    MM      MM    MMMM  MMMM  MM        MM    MM   */
/*    MM      MM    MM  MM  MM  MMMMMMMM  MMMMMM     */
/*    MM      MM    MM      MM  MM        MM    MM   */
/*    MM      MM    MM      MM  MM        MM    MM   */
/*    MM    MMMMMM  MM      MM  MMMMMMMM  MM    MM   */

#timer-box {
    grid-row : 3/4;
    grid-column : 2/3;
}







/*  MMMMMM    MMMMMMMM    MMMM    MM    MM  MM      MMMMMM    MMMM     */
/*  MM    MM  MM        MM    MM  MM    MM  MM        MM    MM    MM   */
/*  MMMMMM    MMMMMMMM    MM      MM    MM  MM        MM      MM       */
/*  MM    MM  MM            MM    MM    MM  MM        MM        MM     */
/*  MM    MM  MM        MM    MM  MM    MM  MM        MM    MM    MM   */
/*  MM    MM  MMMMMMMM    MMMM      MMMM    MMMMMM    MM      MMMM     */

#results-box {
    grid-row : 4/5;
    grid-column : 2/3;
}



/*  MM      MM    MMMM    MMMMMM    MMMMMM    MM      MMMMMM    MMMM    MMMMMM   */
/*  MM      MM  MM    MM  MM    MM  MM    MM  MM        MM    MM    MM    MM     */
/*  MM      MM  MM    MM  MMMMMM    MM    MM  MM        MM      MM        MM     */
/*  MM  MM  MM  MM    MM  MM    MM  MM    MM  MM        MM        MM      MM     */
/*  MM  MM  MM  MM    MM  MM    MM  MM    MM  MM        MM    MM    MM    MM     */
/*    MM  MM      MMMM    MM    MM  MMMMMM    MMMMMM  MMMMMM    MMMM      MM     */

#wordlist-box {
    grid-row : 2/6;
    grid-column : 1/2;
    display: flex;
    flex-flow: column;
    justify-content : flex-start;
    align-items : flex-start;
}





#wordlist-header {
    width : 100%;
    text-align : center;
    text-decoration : underline;
}



#wordlist-frame {
    display: flex;
    flex-flow: column;
}



.ans {
    background: #fff6;
}








/*  MMMMMM      MMMM    MMMMMM    MMMM    MMMMMM      MMMM    MM      MM   */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MMMMMMMM    MM    MMMMMMMM  MMMMMM    MM    MM      MM       */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM  MM      MM   */
/*  MMMMMM    MM    MM    MM    MM    MM  MMMMMM      MMMM    MM      MM   */

#data-box {
    position: relative;
    width: 80%;
    height: 80%;
}

#data-row-scroll {
    position: absolute;
    padding:1vh;
    width: 90%;
    height: 90%;
    background: #0001;
    overflow-x: scroll;
    overflow-y: hidden;
}

#data-row-frame {
    display: flex;
    flex-flow: row;
    width: 700px;
    background: white;
}









/*    MMMM      MMMM    MMMMMM    MMMMMM    MMMMMM      MMMM    MM      MM   */
/*  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM        MMMMMMMM  MMMMMM    MM    MM  MMMMMM    MM    MM      MM       */
/*  MM        MM    MM  MM    MM  MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM      MM   */
/*    MMMM    MM    MM  MM    MM  MMMMMM    MMMMMM      MMMM    MM      MM   */

#card-box {
    background: #0002;
    width: 90%;
    height: 90%;
    padding: 5vh;
    border-radius: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
}











/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM        MM      MM  MM    MM   */
/*  MM    MM    MM          MM    MM              MM      MM  MM    MM   */
/*    MM        MM        MM      MMMMMMMM        MM      MM  MMMMMMMM   */
/*      MM      MM      MM        MM              MM      MM  MM    MM   */
/*  MM    MM    MM    MM          MM                MM  MM    MM    MM   */
/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM            MM      MM    MM   */

#container.vh {
    gap: 2vh;
    padding : 4vh;
    border-radius : 4vh;
    box-shadow : 1vh 1vh 4vh rgba(150,0,0,0.3);
}

#title-box.vh {
    padding : 1vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 4vh rgba(150,0,0,0.3);
}

#title.vh {
    font-size: 10vh;
}

#title-config.vh {
    font-size: 7vh;
    width : 10vh;
    height : 8vh;
    border-radius : 0vh 0vh 0vh 3vh;
}

#dice-box.vh {
    padding : 2vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
}

#dice.vh {
    font-size: 12vh;
}

#timer-box.vh {
    padding : 2vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
}

#timer.vh {
    font-size: 7vh;
}

#results-box.vh {
    padding : 2vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
}

#results.vh {
    font-size: 6vh;
}

#wordlist-box.vh {
    padding : 2vh;
    border-radius : 3vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
}

#wordlist-header.vh {
    margin-bottom : 1vh;
    font-size: 6vh;
}

.Qnum.vh {
    font-size: 6vh;
}
.ans.vh {
    font-size: 6vh;
    border-radius: 0.5vh;
    width: 62vh;
    margin: 0.5vh;
}











/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM        MM      MM  MM      MM   */
/*  MM    MM    MM          MM    MM              MM      MM  MM      MM   */
/*    MM        MM        MM      MMMMMMMM        MM      MM  MM      MM   */
/*      MM      MM      MM        MM              MM      MM  MM  MM  MM   */
/*  MM    MM    MM    MM          MM                MM  MM    MM  MM  MM   */
/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM            MM        MM  MM     */

#container.vw {
    gap: 2vw;
    padding : 3vw;
    border-radius : 4vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#title-box.vw {
    padding : 1vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#title.vw {
    font-size: 8vw;
}

#title-config.vw {
    font-size: 4vw;
    width : 6vw;
    height : 5vw;
    border-radius : 0vw 0vw 0vw 1.5vw;
}

#dice-box.vw {
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#dice.vw {
    font-size: 8vw;
}

#timer-box.vw {
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#timer.vw {
    font-size: 5vw;
}

#results-box.vw {
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#results.vw {
    font-size: 5vw;
}

#wordlist-box.vw {
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#wordlist-header.vw {
    margin-bottom : 1vw;
    font-size: 5vw;
}

.Qnum.vw {
    font-size: 5vw;
}

.ans.vw {
    font-size: 5vw;
    border-radius: 0.5vw;
    width: 52vw;
    margin: 0.5vw;
}






/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM        MM      MM  MMMMMM  MMMMMM     */
/*  MM    MM    MM          MM    MM              MMMM  MMMM    MM    MM    MM   */
/*    MM        MM        MM      MMMMMMMM        MM  MM  MM    MM    MM    MM   */
/*      MM      MM      MM        MM              MM      MM    MM    MM    MM   */
/*  MM    MM    MM    MM          MM              MM      MM    MM    MM    MM   */
/*    MMMM    MMMMMM  MMMMMMMMMM  MMMMMMMM        MM      MM  MMMMMM  MMMMMM     */

#container.mid {
    gap: 1vw;
    padding : 2vw;
    border-radius : 3vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#title-box.mid {
    padding : 0.5vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#title.mid {
    font-size: 5vw;
}

#title-config.mid {
    font-size: 3vw;
    width : 5vw;
    height : 4vw;
    border-radius : 0vw 0vw 0vw 1.5vw;
}

#dice-box.mid {
    padding : 1vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#dice.mid {
    font-size: 5vw;
}

#timer-box.mid {
    padding : 1vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#timer.mid {
    font-size: 2.5vw;
}

#results-box.mid {
    padding : 1vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}
#results.mid {
    font-size: 2.5vw;
}

#wordlist-box.mid {
    padding : 1vw;
    border-radius : 1.5vw;
    box-shadow : 1vw 1vw 3vw rgba(150,0,0,0.3);
}

#wordlist-header.mid {
    margin-bottom : 1vw;
    font-size: 3vw;
}

.Qnum.mid {
    font-size: 2.5vw;
}

.ans.mid {
    font-size: 2.5vw;
    border-radius: 0.5vw;
    width: 27vw;
    margin: 0.5vw;
}










/*  MMMMMM    MM      MM          MMMM    MM        MMMM      MMMM      MMMM     */
/*  MM    MM    MM  MM          MM    MM  MM      MM    MM  MM    MM  MM    MM   */
/*  MMMMMM        MM            MM        MM      MMMMMMMM    MM        MM       */
/*  MM    MM      MM            MM        MM      MM    MM      MM        MM     */
/*  MM    MM      MM            MM    MM  MM      MM    MM  MM    MM  MM    MM   */
/*  MMMMMM        MM              MMMM    MMMMMM  MM    MM    MMMM      MMMM     */


.wall-block {
    /* Covers the whole screen. */
    /* Can disappear. */
    /* Invisible by default. */
    position : fixed;
    top : 0px;
    bottom : -50px;
    left : 0px;
    right : 0px;
    display: none;
}

.wall-flex {
    /* The invisible frame that centers a box perfectly. */
    position: fixed;
    top : 0px;
    bottom : 0px;
    left : 0px;
    right : 0px;
    display: flex;
    justify-content : center;
    align-items : center;
}




.box {
    cursor : pointer;
    background : var(--yellowGradient);
    overflow-x : hidden;
    overflow-y : hidden;
    display : flex;
    flex-flow : column;
    justify-content: center;
    align-items: center;
}


.column {
    background: pink;
    width:32vh;
    border-radius: 1vh;
    margin:1vh;
}

.card {
    font-size: 2em;
}



















