



/*  MM      MM    MMMM    MMMMMM    MMMMMM    MMMM    MMMMMM    MM      MMMMMMMM    MMMM     */
/*  MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*  MM      MM  MMMMMMMM  MMMMMM      MM    MMMMMMMM  MMMMMM    MM      MMMMMMMM    MM       */
/*  MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM            MM     */
/*    MM  MM    MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*      MM      MM    MM  MM    MM  MMMMMM  MM    MM  MMMMMM    MMMMMM  MMMMMMMM    MMMM     */

:root {
    --redish : #F35;
    --greenish : #4FA;
    --whiteShade : rgba(255,255,255,0.3);
    --blackShade : rgb(0, 0, 0, 0.5);
    --blackerShade : rgb(0, 0, 0, 0.7);
    --blueGradient : linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    --yellowGradient : linear-gradient(27deg, rgb(239, 190, 0), rgb(236, 221, 15));
    --redGradient : linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    --greenGradient : linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
    --grayGradient : linear-gradient( 110.3deg,  rgba(72,85,99,1) 8.8%, rgba(127,146,166,1) 95.1% );

    --fontEN :  'Boogaloo', cursive;
    --fontKR :  'Jua', sans-serif;
}











/*  MMMMMM    MM      MM        MMMMMM    MMMM      MMMM     */
/*  MM    MM    MM  MM            MM    MM    MM  MM    MM   */
/*  MMMMMM        MM              MM    MMMMMMMM  MM         */
/*  MM    MM      MM              MM    MM    MM  MM  MMMM   */
/*  MM    MM      MM              MM    MM    MM  MM    MM   */
/*  MMMMMM        MM              MM    MM    MM    MMMM     */

body {
    user-select : none;
    font-family: var(--fontEN);
    /* don't put background color or image here. it gets weird. */
}



input {
    color: #00aeff;
    border: none;
    border-radius: 0.5vh;
    font-family: var(--fontEN);
}

input::placeholder {
    color: black;
}


/* span {
    margin-bottom : 2vh;
    text-indent : -1em;
} */


/* .input {
    background : transparent;
    font-size : 4vh;
    border : none;
} */










/*  MM      MM    MMMM    MM      MM       */
/*  MM      MM  MM    MM  MM      MM       */
/*  MM      MM  MMMMMMMM  MM      MM       */
/*  MM  MM  MM  MM    MM  MM      MM       */
/*  MM  MM  MM  MM    MM  MM      MM       */
/*    MM  MM    MM    MM  MMMMMM  MMMMMM   */

#wall-1 {
    background-image : var(--blueGradient);
}

#wall-2 {
    background-image : var(--redGradient);
}

#wall-3 {
    background-image : var(--grayGradient);
}

#wall-4 {
    background-image : var(--greenGradient);
}







/*    MMMM      MMMM    MM    MM  MMMMMM    MMMM    MMMMMM  MM    MM  MMMMMMMM  MMMMMM     */
/*  MM    MM  MM    MM  MMMM  MM    MM    MM    MM    MM    MMMM  MM  MM        MM    MM   */
/*  MM        MM    MM  MM  MMMM    MM    MMMMMMMM    MM    MM  MMMM  MMMMMMMM  MMMMMM     */
/*  MM        MM    MM  MM    MM    MM    MM    MM    MM    MM    MM  MM        MM    MM   */
/*  MM    MM  MM    MM  MM    MM    MM    MM    MM    MM    MM    MM  MM        MM    MM   */
/*    MMMM      MMMM    MM    MM    MM    MM    MM  MMMMMM  MM    MM  MMMMMMMM  MM    MM   */

#container {
    display : grid;
    grid-template-columns : auto auto;
    grid-template-rows : auto auto auto auto auto;
}








/*  MMMMMM  MMMMMM  MMMMMM  MM      MMMMMMMM   */
/*    MM      MM      MM    MM      MM         */
/*    MM      MM      MM    MM      MMMMMMMM   */
/*    MM      MM      MM    MM      MM         */
/*    MM      MM      MM    MM      MM         */
/*    MM    MMMMMM    MM    MMMMMM  MMMMMMMM   */

#title-box {
    position: relative;
    grid-row : 1/2;
    grid-column : 1/3;
}

#title {
    /* something */
}

#title-config {
    position : absolute;
    top : 0px;
    right : 0px;
    width : 4vh;
    height : 3vh;
    border-radius : 0vh 0vh 0vh 2vh;
    background-color : var(--whiteShade);
    text-align : center;
    color : var(--blackShade);
}









/*  MMMMMM    MMMMMM    MMMM    MMMMMMMM   */
/*  MM    MM    MM    MM    MM  MM         */
/*  MM    MM    MM    MM        MMMMMMMM   */
/*  MM    MM    MM    MM        MM         */
/*  MM    MM    MM    MM    MM  MM         */
/*  MMMMMM    MMMMMM    MMMM    MMMMMMMM   */

#dice-box {
    grid-row : 2/3;
    grid-column : 2/3;
}

#dice {
    /* something */
}











/*  MMMMMM  MMMMMM  MM      MM  MMMMMMMM  MMMMMM     */
/*    MM      MM    MMMM  MMMM  MM        MM    MM   */
/*    MM      MM    MM  MM  MM  MMMMMMMM  MMMMMM     */
/*    MM      MM    MM      MM  MM        MM    MM   */
/*    MM      MM    MM      MM  MM        MM    MM   */
/*    MM    MMMMMM  MM      MM  MMMMMMMM  MM    MM   */

#timer-box {
    grid-row : 3/4;
    grid-column : 2/3;
}

#timer {
    /* something */
}











/*  MMMMMM    MMMMMMMM    MMMM    MM    MM  MM      MMMMMM    MMMM     */
/*  MM    MM  MM        MM    MM  MM    MM  MM        MM    MM    MM   */
/*  MMMMMM    MMMMMMMM    MM      MM    MM  MM        MM      MM       */
/*  MM    MM  MM            MM    MM    MM  MM        MM        MM     */
/*  MM    MM  MM        MM    MM  MM    MM  MM        MM    MM    MM   */
/*  MM    MM  MMMMMMMM    MMMM      MMMM    MMMMMM    MM      MMMM     */

#results-box {
    grid-row : 4/5;
    grid-column : 2/3;
}

#results {
    /* something */
}






/*  MM      MM    MMMM    MMMMMM    MMMMMM    MM      MMMMMM    MMMM    MMMMMM   */
/*  MM      MM  MM    MM  MM    MM  MM    MM  MM        MM    MM    MM    MM     */
/*  MM      MM  MM    MM  MMMMMM    MM    MM  MM        MM      MM        MM     */
/*  MM  MM  MM  MM    MM  MM    MM  MM    MM  MM        MM        MM      MM     */
/*  MM  MM  MM  MM    MM  MM    MM  MM    MM  MM        MM    MM    MM    MM     */
/*    MM  MM      MMMM    MM    MM  MMMMMM    MMMMMM  MMMMMM    MMMM      MM     */

#wordlist-box {
    grid-row : 2/6;
    grid-column : 1/2;
    display: flex;
    flex-flow: column;
    justify-content : flex-start;
    align-items : flex-start;
}

/* #wordlist-header {
    margin : 2vh;
    width : 100%;
    text-align : center;
    text-decoration : underline;
} */

#wordlist-frame {
    display: flex;
    flex-flow: column;
}














/*  MMMMMM      MMMM    MMMMMM    MMMM    MMMMMM      MMMM    MM      MM   */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MMMMMMMM    MM    MMMMMMMM  MMMMMM    MM    MM      MM       */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM    MM  MM      MM   */
/*  MMMMMM    MM    MM    MM    MM    MM  MMMMMM      MMMM    MM      MM   */

#data-box {
    position: relative;
    width: 80%;
    height: 80%;
}

#data-row-scroll {
    position: absolute;
    padding:1vh;
    width: 90%;
    height: 90%;
    background: #0001;
    overflow-x: scroll;
    overflow-y: hidden;
}

#data-row-frame {
    display: flex;
    flex-flow: row;
    width: 700px;
    background: white;
}









/*    MMMM      MMMM    MMMMMM    MMMMMM    MMMMMM      MMMM    MM      MM   */
/*  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM        MMMMMMMM  MMMMMM    MM    MM  MMMMMM    MM    MM      MM       */
/*  MM        MM    MM  MM    MM  MM    MM  MM    MM  MM    MM    MM  MM     */
/*  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM      MM   */
/*    MMMM    MM    MM  MM    MM  MMMMMM    MMMMMM      MMMM    MM      MM   */

#card-box {
    background: #0002;
    width: 90%;
    height: 90%;
    padding: 5vh;
    box-sizing: border-box;
    border-radius: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
}













/*  MMMMMM    MM      MM          MMMM    MM        MMMM      MMMM      MMMM     */
/*  MM    MM    MM  MM          MM    MM  MM      MM    MM  MM    MM  MM    MM   */
/*  MMMMMM        MM            MM        MM      MMMMMMMM    MM        MM       */
/*  MM    MM      MM            MM        MM      MM    MM      MM        MM     */
/*  MM    MM      MM            MM    MM  MM      MM    MM  MM    MM  MM    MM   */
/*  MMMMMM        MM              MMMM    MMMMMM  MM    MM    MMMM      MMMM     */


.wall-block {
    /* Covers the whole screen. */
    /* Can disappear. */
    /* Invisible by default. */
    position : fixed;
    top : 0px;
    bottom : -50px;
    left : 0px;
    right : 0px;
    display: none;
}

.wall-flex {
    /* The invisible frame that centers a box perfectly. */
    position: fixed;
    top : 0px;
    bottom : 0px;
    left : 0px;
    right : 0px;
    display: flex;
    justify-content : center;
    align-items : center;

    /* delete below this later */
    border: 2px black dashed;
    border-radius: 50px;
}




.box {
    cursor : pointer;
    /* position : relative; */
    margin : 1vh;
    padding : 1vh;
    border-radius : 2vh;
    box-shadow : 1vh 1vh 3vh rgba(150,0,0,0.3);
    background : var(--yellowGradient);
    overflow-x : hidden;
    overflow-y : hidden;
    display : flex;
    flex-flow : column;
    justify-content: center;
    align-items: center;
}


.column {
    background: pink;
    width:32vh;
    border-radius: 1vh;
    margin:1vh;
}

.card {
    /* width: 20%;? */
}



















